<section class="innerHead">
   <div class="top_innerHead">
      <img src="/img/icon_arrow.svg" class="arrowIcon">
      <a href="/" class="breadcrumb">HOME </a>
      <span> / ALL YOUR CONTINENTS</span>
   </div>
   <div class="bottom_innerHead">
      <h1>All Your Continents</h1>

   </div>
</section>
<section class="toolSection">

</section>
<section class="uniquePanel">
  <div class="gridItems">
         <% @continents.each do |continent| %>
              <a href="/continents/<%= continent.continent %>"><h1><%= continent.continent  %></h1</a>
         <% end %>
  </div>
</section>
