<section class="innerHead">
   <div class="top_innerHead">
      <img src="/img/icon_arrow.svg" class="arrowIcon">
      <a href="/" class="breadcrumb">HOME </a>
      <span> / ALL YOUR CONTINENTS</span>
   </div>
   <div class="bottom_innerHead">
      <h1>All Your Continents</h1>

   </div>
</section>
<section class="toolSection">
    

      <a href="/countries/non_visited_countries"><div class="visitedLink"><img src="/img/icon_bar_non_visited.svg">View Non Visited</div></a>
  <a href="/countries/visited_countries"> <div class="visitedLink"><img src="/img/icon_bar_visited.svg">View Visited</div></a>
</section>
<section class="uniquePanel">

</section>
