<section class="innerHead">
   <div class="top_innerHead">
      <img src="/img/icon_arrow.svg" class="arrowIcon">
      <a href="/" class="breadcrumb">HOME </a>
      <span> / ALL YOUR CONTINENTS</span>
   </div>
   <div class="bottom_innerHead">
      <h1>All Your Continents</h1>

   </div>
</section>
<!-- <section class="toolSection">

</section> -->
<section class="uniquePanel">
  <div class="gridItems">
         <% @continents.each do |continent| %>
              <a class="continentLink" href="/continents/<%= continent.continent %>">


                <div class="gridItem">
                   <div class="gridImage">
                      <img src="" alt="">
                   </div>


                   <div class="gridContainer">
                      <div class="gridText continentBox">
                         <h3 class="gridName"><%= continent.continent %></h3>

                      </div>

                   </div>
                </div>







                <!-- <div class="continentBox">
                  <div class="gridImage">
                     <img src="" alt="">
                  </div>
                  <h1><%= continent.continent  %></h1>
                </div> -->
              </a>
         <% end %>
  </div>
</section>
