<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap" rel="stylesheet">

  </head>
  <body>
    <nav id="appNav">
      <div class="navContainer">
        <div class="logoNav">
          <a href="/"><img src="/img/logo_nav.svg"></a>
        </div>
        <div class="menuNav">
          <ul>
            <li><a href="/continents/index" target="_self">By Continent</a></li>
            <li><a href="/countries/index" target="_self">By Country</a></li>
            <li><a href="/cities/index" target="_self">By City</a></li>
          </ul>
        </div>
      </div>

    </nav>

<div class="main-container">
   <%= yield %>
</div>

    <footer id="appFooter">
      <img src="/img/footer_logo.svg" alt="App logo for footer">
    </footer>

  </body>
</html>
