<section class="innerHead">
   <div class="top_innerHead">
      <img src="/img/icon_arrow.svg" class="arrowIcon">
      <a href="/" class="breadcrumb">HOME </a>
      <span> / COUNTRIES I WANT TO VISIT</span>
   </div>
   <div class="bottom_innerHead">
      <h1><%= @country.name %></h1>
      <a href="#" class="addButton"><img src="/img/icon_folder.svg">Add new City</a>
   </div>
</section>
<section class="toolSection">
     <!-- <div class="totalCountries">Visited:<span>  </span></div>
      <div class="totalCountries">Non visited:<span>  </span></div> -->
   <!-- <div class="viewList"><img src="/img/icon_list.svg">View as List </div> -->

  <!-- <a href="/countries/visited_countries"> <div class="visitedLink"><img src="/img/icon_bar_visited.svg">View Visited</div></a>
    <a href="/countries/index"> <div class="visitedLink"><img src="/img/icon_bar_all.svg">View All</div></a> -->
</section>
<section class="uniquePanel">


</section>
