<section class="innerHead">
   <div class="top_innerHead">
      <img src="/img/icon_arrow.svg" class="arrowIcon">
      <a href="/" class="breadcrumb">HOME </a>
      <span> / ADD NEW COUNTRY</span>
   </div>
   <div class="bottom_innerHead">
      <h1>Add new country</h1>
<a href="/countries/index" class="backButton"><img src="/img/icon_back.svg">Back to Countries</a>
   </div>
</section>

<section class="uniquePanel">

   <div class="gridItems">
<div class="formContainer">
<img src="/img/delete_illustration.png" alt="" class="deleteIllus">

<form class="formRow" action="/countries/new_country" method="post">
<div class="formRow border">
  <label for="name">Enter country name:</label>
  <input type="text" name="name" id="name" placeholder="Country Name"/>
</div>

<div class="formRow border">
  <label for="continent">Continent</label>
  <select name="continent">
    <option selected="selected">Select the Continent</option>
    <option value="Africa">Africa</option>
    <option value="Asia">Asia</option>
    <option value="Australia-Pacific">Australia - Pacific</option>
    <option value="Caribe">Caribe</option>
    <option value="Europe">Europe</option>
    <option value="North America">North America</option>
    <option value="Middle East">Middle East</option>
    <option value="South America">South America</option>
  </select>
</div>

<div class="formRow radio">
  <label for="visited">Visited?</label>
<div class="rowRadio">
  <input type="radio" name="visited" value="1" checked> <span>Yes</span><br>
    <input type="radio" name="visited" value="0"> <span>No</span>
</div>
</div>

  <div class="formRow sendPanel">
      <input type="submit" value="Add Country"/>
    </div>


</form>
</div>

   </div>
</section>
