<section class="innerHead">
   <div class="top_innerHead">
      <img src="/img/icon_arrow.svg" class="arrowIcon">
      <a href="/" class="breadcrumb">HOME </a>
      <span> / ADD NEW COUNTRY</span>
   </div>
   <div class="bottom_innerHead">
      <h1>Add new country</h1>

   </div>
</section>
<section class="toolSection">
     <div class="totalCountries">Total non visited:<span> <%= @countries.count  %> </span></div>
   <div class="viewList"><img src="/img/icon_list.svg">View as List </div>

  <a href="/countries/visited_countries"> <div class="visitedLink"><img src="/img/icon_bar_visited.svg">View Visited</div></a>
    <a href="/countries/index"> <div class="visitedLink"><img src="/img/icon_bar_all.svg">View All</div></a>
</section>
<section class="uniquePanel">
   <div class="gridItems">
<div class="formContainer">


<form class="formRow" action="/countries/new_country" method="post">

<div class="formRow border">
  <label for="name">Enter country name:</label>
  <input type="text" name="name" id="name" value="i.e:United Kigndom"/>
</div>

<div class="formRow border">
  <label for="continent">Continent</label>
  <select name="continent">
    <option value="Africa">Africa</option>
    <option value="Asia">Asia</option>
    <option value="Australia-Pacific">Australia - Pacific</option>
    <option value="Caribe">Caribe</option>
    <option value="Europe">Europa</option>
    <option value="North America">North America</option>
    <option value="Middle East">Middle East</option>
    <option value="South America">South America</option>
  </select>
</div>

<div class="formRow radio">
  <label for="visited"></label>
  <input type="radio" name="visited" value="1" checked> Visited<br>
  <input type="radio" name="not_visited" value="0"> not Visited
</div>

  <div class="formRow">
      <input type="submit" value="Add Country"/>
    </div>


</form>
</div>

   </div>
</section>
